<!-- navigation.component.html -->
<nav class="navbar">
    <div class="navbar-container">
      <a routerLink="/home" class="navbar-logo">
        <img src="assets/images/twomates-logo.svg" alt="Logo">
      </a>
      <ul class="navbar-links">
        <li>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a routerLink="/cart" routerLinkActive="active">Cart</a>
        </li>
      </ul>
    </div>
</nav>
  